@charset "UTF-8";
/* 変数 */
:root {
  --main-white: #F6F7F8;
  --main-black: rgba(22, 22, 22, 1);
  --main-red: rgba(228, 29, 29, 1);
  --main-yellow: #F5E237;
  --main-blue: #2E3F8D;
}

/* メディアクエリ */
/* base */
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: var(--main-black);
  font-size: 2.4rem;
  line-height: 1.5;
  box-sizing: border-box;
}

.underlayer {
  background-color: var(--main-black);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

small {
  font-size: 0.75rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

p {
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 144rem;
  padding-inline: 1.2rem;
}

.section__title {
  font-weight: 600;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.section__title--jp {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
}

.section__title--jp::before {
  position: absolute;
  display: block;
  content: '';
  background-color: var(--main-white);
  width: 3rem;
  height:1px;
  top: 50%;
  left: 0;
}

.section__description {
  margin-top: 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75;
  letter-spacing: 0;
}


/* ヘッダー */
.header {
  height: 6rem;
  padding-inline: 1.2rem;
}

.header__inner {
  position: relative;
  display: block flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header__title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s;
}

.underlayer .header {
  color: var(--main-white);
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 2.2rem;
  height: 2rem;
}

.hamburger-bar {
  display: block;
  width: 100%;
  height:.2rem;
  background-color: var(--main-black);
  transition: all .3s;
}

.underlayer .hamburger-bar {
  background-color: var(--main-white);
}

.hamburger-menu {
  position: fixed;
  display: flex;
  padding: 8rem 1.2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity:0;
  visibility: hidden;
  transition: all .3s;
  z-index: 999
}

.hamburger-menu__link {
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: .1em;
  color: var(--main-white);
}

.hamburger-menu__link {
  display: inline-block;
  overflow: hidden
}

.hamburger-menu__link span {
  display: inline-block;
  transform: translateY(3rem);
}

.curtain {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--main-black);
  top:0;
  left: 0;
  transform: scaleY(0);
  transform-origin: 0% 0%;
  z-index: 500;
}

/* ハンバーガーメニューopen時スタイル */
.header.is_open .header__title {
  color: var(--main-white);
}

.header.is_open .hamburger-bar {
  background-color: var(--main-white);
}

.header.is_open .hamburger-menu {
  opacity: 1;
  visibility: visible;
}

/* スニペット */
.snipet__item {
  border-bottom: 1px solid var(--main-black) ;
}

.snipet__link {
  display: block;
  padding-block: 1rem;
}

.snipet__title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
}

.snipet__date {
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: .5rem;
}

/* できること */
.skill {
  position: relative;
  color: var(--main-white);
  background-color: rgba(22, 22, 22, 0.2);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.skill__list {
  margin-top: 5.6rem;
}

.skill__item {
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-top: 1px solid rgba(255, 255, 255, .6);
}

.skill__number {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
}

.skill__heading {
  position: relative;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: .03em;
  margin-top: 2rem;
}

.skill__heading--en {
  display: block;
  font-weight: 00;
  font-size: 1.4rem;
  text-transform: uppercase;
  opacity: 0.6;
}

.skill__text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: .1em;
  margin-top: 1.5rem;
}

/* 実績 */
.work {
  padding-block: 3rem;
}
